#error_message:empty {
    display: none;
}

#error_message::before {
    content: '\26a0 ';
    color: red;
    font-weight: bold;
}

body {
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
}
@media screen and (orientation:portrait) {
    main {
        flex-direction: column;
        justify-content: start;
        max-width:fit-content;
        margin-inline: auto;
    }
}

section {
    outline: 1px solid black;
    margin: 1em;
    padding: 1em 2em;
    display: block;
    flex-direction: column;
}

section.setup { display: none; }

nav h1 {
    display: inline-block;
    margin: 0;
}

p {
    margin-top: 0;
    margin-bottom: .5em;
}

h1 {
    display: inline-block;
    margin: 0;
}

table {
    border: 1px solid black;
    margin-block-end: .5em;
}

td {
    font-family: sans-serif;
    width: 1em;
    height: 1.5em;
    border: 1px solid black;
    text-align: center;
    text-transform: capitalize;
}

button {
    width:100%;
}

#board td {
    font-size: 1.5em;
}

#reveal-button {
    margin-block-end: .5em;
}

.flexbox {
    display: flex;
    margin-block-end: .5em;
    justify-content: space-between;
    gap: 1em;
}

.flexbox2 {
    display: flex;
    margin-block-end: .5em;
    gap: 1em;
    > * {
        flex-grow: 1;
    }
}

.flexbox-inline {
    display: inline-flex;
    margin-block-end: .5em;
}

#wheel {
    font-size: .8em;
    width: calc(14em + 28px);
    height: auto;
    aspect-ratio: 1 / 1;
}

.keyboard button {
    display: inline;
    width: 2em;
    margin-inline: 2px;
    font-size: .8em;
}

td:empty {
    background-color: hsl(219, 80%, 57%);
}

button.add-competitor {
    display: none !important;
}

input#phrase, input#category {
    width:100%;
    box-sizing: border-box;
}