#error_message:empty {
    display: none;
}

#error_message::before {
    content: '\26a0 ';
    color: red;
    font-weight: bold;
}

body {
    margin: 0;
}

section {
    max-width: fit-content;
    min-height: calc(100vh - 4em);
    outline: 1px solid black;
    margin: 1em;
    margin-left: auto;
    margin-right:auto;
    padding: 1em 2em;
    display: block;
    flex-direction: column;
}

.inactive {
    display: none;
}

nav h1 {
    display: inline-block;
    margin: 0;
}

p {
    margin-top: 0;
    margin-bottom: .5em;
}

h1 {
    display: inline-block;
    margin: 0;
}

table {
    border: 1px solid black;
    margin-block-end: .5em;
}

td {
    font-family: sans-serif;
    width: 1em;
    height: 1.5em;
    border: 1px solid black;
    text-align: center;
    text-transform: capitalize;
}

#board td {
    font-size: 1.5em;
}

#reveal-button {
    margin-block-end: .5em;
}

.flexbox {
    display: flex;
    margin-block-end: .5em;
    justify-content: space-between;
    gap: 1em;
}

.flexbox2 {
    display: flex;
    margin-block-end: .5em;
    gap: 1em;
    > * {
        flex-grow: 1;
    }
}

.flexbox-inline {
    display: inline-flex;
    margin-block-end: .5em;
}

#wheel {
    width: 9em;
    height: 9em;
}

#keyboard button {
    width: 2em;
    margin-inline: 2px;
    font-size: .8em;;
}

#keyboard p {
    margin-top: 5px;
    margin-bottom: 5px;
}

td:empty {
    background-color: hsl(219, 80%, 57%);
}

#competitors-game {
    flex-wrap: wrap;
    justify-content: space-between;
    > * {
        flex-grow: 1;
        margin: 0.5em;
        padding: 0.5em;
        background-color: #eee;
        border-radius: 0.5em;
    }
    > .active {
        border: 2px solid black;
    }
}

button.reveal-board {
    margin-block-end: 1em;
    width:100%;
}

button.add-competitor {
    display: none !important;
}